name: build

on:
  pull_request:
  push:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - "5.3"
          - "5.4"

    runs-on: ${{ matrix.os }}

    steps:
      - run: sudo apt-get update
        if: ${{ matrix.os == 'ubuntu-latest' }}

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: avsm/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-depext-flags: --with-test

      - run: opam install . --deps-only --with-test

      - run: opam exec -- dune build @install

      - run: opam exec -- dune build @src/runtest @examples/runtest @tests/runtest

      - run: opam install simple_httpd simple_httpd_caqti
